In [1]:
import pandas as pd

In [2]:
path = '~/data/movies/dailyboxoffice/dt=20240101'
df = pd.read_parquet(path)
len(df)

50

In [3]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False).size().reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     10
3            Y           F      0
4            Y           K      0
5            Y         NaN     10
6          NaN           F     10
7          NaN           K     10
8          NaN         NaN     10

In [4]:
df.head(5)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,NaN
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,NaN
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,NaN
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,NaN,NaN

In [5]:
df[df['movieCd'] == '20203702']

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN
10,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,40.2,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,N,NaN
40,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,49.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,K

In [6]:
df = df[['rnum', 'rank', 'movieCd', 'movieNm', 'openDt', 'salesAmt', 'multiMovieYn', 'repNationCd']]

In [7]:
df

,rnum,rank,movieCd,movieNm,openDt,salesAmt,multiMovieYn,repNationCd
0,1,1,20203702,노량: 죽음의 바다,2023-12-20,2893509165,NaN,NaN
1,2,2,20212866,서울의 봄,2023-11-22,2666429137,NaN,NaN
2,3,3,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,NaN,NaN
3,4,4,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,NaN,NaN
4,5,5,20235596,트롤: 밴드 투게더,2023-12-20,273538754,NaN,NaN
5,6,6,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,NaN,NaN
6,7,7,20235290,도티와 영원의 탑,2023-12-27,100024717,NaN,NaN
7,8,8,20234114,괴물,2023-11-29,92381680,NaN,NaN
8,9,9,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,NaN,NaN
9,10,10,20235980,말하고 싶은 비밀,2023-12-13,38025184,NaN,NaN
10,1,1,20203702,노량: 죽음의 바다,2023-12-20,2893509165,N,NaN
11,2,2,20212866,서울의 봄,2023-11-22,2666429137,N,NaN
12,3,3,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,N,NaN
13,4,4,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,N,NaN
14,5,5,20235596,트롤: 밴드 투게더,2023-12-20,273538754,N,NaN
15,6,6,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,N,NaN
16,7,7,20235290,도티와 영원의 탑,2023-12-27,100024717,N,NaN
17,8,8,20235980,말하고 싶은 비밀,2023-12-13,38025184,N,NaN
18,9,9,20190324,3일의 휴가,2023-12-06,28109697,N,NaN
19,10,10,20235098,나폴레옹,2023-12-06,4056567,N,NaN
20,1,1,20234114,괴물,2023-11-29,92381680,Y,NaN
21,2,2,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,Y,NaN
22,3,3,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,Y,NaN
23,4,4,20233299,크레센도,2023-12-20,29203100,Y,NaN
24,5,5,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,Y,NaN
25,6,6,20235693,리빙: 어떤 인생,2023-12-13,6942434,Y,NaN
26,7,7,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,Y,NaN
27,8,8,20124722,피아니스트의 전설,2020-01-01,3063078,Y,NaN
28,9,8,20236533,립세의 사계,2024-01-10,2804970,Y,NaN
29,10,10,19860125,쿼바디스,1973-01-13,589000,Y,NaN
30,1,1,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,NaN,F
31,2,2,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,NaN,F
32,3,3,20235596,트롤: 밴드 투게더,2023-12-20,273538754,NaN,F
33,4,4,20234114,괴물,2023-11-29,92381680,NaN,F
34,5,5,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,NaN,F
35,6,6,20235980,말하고 싶은 비밀,2023-12-13,38025184,NaN,F
36,7,7,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,NaN,F
37,8,8,20233299,크레센도,2023-12-20,29203100,NaN,F
38,9,9,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,NaN,F
39,10,10,20235693,리빙: 어떤 인생,2023-12-13,6942434,NaN,F
40,1,1,20203702,노량: 죽음의 바다,2023-12-20,2893509165,NaN,K
41,2,2,20212866,서울의 봄,2023-11-22,2666429137,NaN,K
42,3,3,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,NaN,K
43,4,4,20235290,도티와 영원의 탑,2023-12-27,100024717,NaN,K
44,5,5,20190324,3일의 휴가,2023-12-06,28109697,NaN,K
45,6,6,20202247,싱글 인 서울,2023-11-29,1903007,NaN,K
46,7,7,20228560,너와 나,2023-10-25,2625839,NaN,K
47,8,8,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,NaN,K
48,9,9,20232077,어른 김장하,2023-11-15,214000,NaN,K
49,10,10,20227525,교토에서 온 편지,2023-12-06,207000,NaN,K